pipeline/3 2 Incremental Load.json
{
	"name": "3 2 Incremental Load",
	"properties": {
		"activities": [
			{
				"name": "Fetch Incremental Load Tables list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select *\nfrom [client].[hydration]\nwhere LoadType = 'inc' and Status = '1';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_reportingProjSQLServer",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy Increment load tables from onprems to raw",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetch Incremental Load Tables list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Incremental Load Tables list').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "watermarkDatetime",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select watermarkDatetime from [client].[watermarkDatetime] where tablename = ''', item().sourceTableName,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_reportingProjSQLServer",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "maxModifiedDate of Incremental Tables",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select max(ModifiedDate) as LastModified from ', item().sourceSchema, '.', item().sourceTableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_onPremsSqlServer",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Copy incremental load tables of onprems",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "maxModifiedDate of Incremental Tables",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "watermarkDatetime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from ', item().sourceSchema, '.', item().sourceTableName, ' where ModifiedDate > ''',activity('watermarkDatetime').output.firstRow.watermarkDatetime,'''', ' and ModifiedDate <= ''', activity('maxModifiedDate of Incremental Tables').output.firstRow.LastModified,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_onPremsSqlServer",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_raw",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().sourceTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "update watermark datetime",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy incremental load tables of onprems",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_reportingProjSQLServer",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('update [client].[watermarkDatetime] set watermarkDatetime = ''', activity('maxModifiedDate of Incremental Tables').output.firstRow.LastModified, '''', ' where tablename = ''', item().sourceTableName,'''')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "reportingProj-Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-20T15:37:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}