reportingProj-ADF/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "reportingProj-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/3 2 Incremental Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fetch Incremental Load Tables list",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select *\nfrom [client].[hydration]\nwhere LoadType = 'inc' and Status = '1';",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_reportingProjSQLServer",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Copy Increment load tables from onprems to raw",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Fetch Incremental Load Tables list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Fetch Incremental Load Tables list').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "watermarkDatetime",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat('select watermarkDatetime from [client].[watermarkDatetime] where tablename = ''', item().sourceTableName,'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_reportingProjSQLServer",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "maxModifiedDate of Incremental Tables",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat('select max(ModifiedDate) as LastModified from ', item().sourceSchema, '.', item().sourceTableName)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_onPremsSqlServer",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "Copy incremental load tables of onprems",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "maxModifiedDate of Incremental Tables",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "watermarkDatetime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat('select * from ', item().sourceSchema, '.', item().sourceTableName, ' where ModifiedDate > ''',activity('watermarkDatetime').output.firstRow.watermarkDatetime,'''', ' and ModifiedDate <= ''', activity('maxModifiedDate of Incremental Tables').output.firstRow.LastModified,'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_onPremsSqlServer",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_raw",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().sourceTableName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "update watermark datetime",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Copy incremental load tables of onprems",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "ls_reportingProjSQLServer",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "@concat('update [client].[watermarkDatetime] set watermarkDatetime = ''', activity('maxModifiedDate of Incremental Tables').output.firstRow.LastModified, '''', ' where tablename = ''', item().sourceTableName,'''')",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "reportingProj-Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-20T15:37:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/1 Master Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Hydration Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "master start logs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "2 Hydration File Movement",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Full Load Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Hydration Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "3 1 Full Load",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Incremental Load Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Hydration Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "3 2 Incremental Load",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Merge_DBW Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Incremental Load Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Execute Full Load Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "4 Data_Merge_DBW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Transformation Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Merge_DBW Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "5 reportingProj-Transformation-DBW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send Email Alerts On Pipeline Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Merge_DBW Pipeline",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-18.centralindia.logic.azure.com:443/workflows/0653482000c04c56a250dff4a468760c/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=gKe3b40-OA-ejPhNln-bhWT-Pu25r0i8BaszX_74GFM",
							"body": {
								"value": "{\n    \"Pipeline\": \"@{pipeline().Pipeline}\",\n    \"ErrorMessage\": \"@{activity('Execute Merge_DBW Pipeline').error.message}\",\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"RunId\": \"@{pipeline().RunId}\"\n}\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Send Email Alerts On Pipeline Failure_copy1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Transformation Pipeline",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-18.centralindia.logic.azure.com:443/workflows/0653482000c04c56a250dff4a468760c/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=gKe3b40-OA-ejPhNln-bhWT-Pu25r0i8BaszX_74GFM",
							"body": {
								"value": "{\n    \"Pipeline\": \"@{pipeline().Pipeline}\",\n    \"ErrorMessage\": \"@{activity('Execute Transformation Pipeline').error.message}\",\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"RunId\": \"@{pipeline().RunId}\"\n}\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "master start logs",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_ADFStartLogs]",
								"storedProcedureParameters": {
									"p_ADFName": {
										"type": "String",
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										}
									},
									"p_ParentPipelineName": {
										"type": "String",
										"value": null
									},
									"p_ParentRunId": {
										"type": "String",
										"value": null
									},
									"p_PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"p_RunId": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"p_StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_onPremsSqlServer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "master Failure end logs",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Merge_DBW Pipeline",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ADFEndLogs]",
							"storedProcedureParameters": {
								"p_EndTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"p_ErrorMessage": {
									"value": {
										"value": "@activity('Execute Merge_DBW Pipeline').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"p_id": {
									"value": {
										"value": "@activity('master start logs').output.firstRow.id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"p_Status": {
									"value": {
										"value": "@variables('V_Status_Fail')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_onPremsSqlserver",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "master success end logs",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Merge_DBW Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ADFEndLogs]",
							"storedProcedureParameters": {
								"p_EndTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"p_ErrorMessage": {
									"value": "",
									"type": "String"
								},
								"p_id": {
									"value": {
										"value": "@activity('master start logs').output.firstRow.id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"p_Status": {
									"value": {
										"value": "@variables('V_Status_Success')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_onPremsSqlserver",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "master success end logs for transform pl",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Transformation Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ADFEndLogs]",
							"storedProcedureParameters": {
								"p_EndTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"p_ErrorMessage": {
									"value": "",
									"type": "String"
								},
								"p_id": {
									"value": {
										"value": "@activity('master start logs').output.firstRow.id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"p_Status": {
									"value": {
										"value": "@variables('V_Status_Success')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_onPremsSqlserver",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "master Failure end logs for transforms pl",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Transformation Pipeline",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ADFEndLogs]",
							"storedProcedureParameters": {
								"p_EndTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"p_ErrorMessage": {
									"value": {
										"value": "@activity('Execute Transformation Pipeline').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"p_id": {
									"value": {
										"value": "@activity('master start logs').output.firstRow.id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"p_Status": {
									"value": {
										"value": "@variables('V_Status_Fail')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_onPremsSqlserver",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"V_Status_Success": {
						"type": "String",
						"defaultValue": "Success"
					},
					"V_Status_Fail": {
						"type": "String",
						"defaultValue": "Fail"
					}
				},
				"folder": {
					"name": "reportingProj-Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2024-09-27T14:00:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/3 2 Incremental Load')]"
			]
		}
	]
}